*{
  font-family: Arial, Helvetica, sans-serif;
}

.home-grid {
display:grid;
grid-template-rows: .5fr 1fr 6fr ;
width: 900px;
height: 800px;
}

nav{
  grid-row: 1;
  background-color: red;
  height: 9vh;
  margin-bottom: 3vh
  ;
}

.youTubeLabel, .homeLink, .aboutLink{
  font-weight:200;
  font-size: 1.2em;
  color: white;
  margin-right: 2em;
  padding-top: 2em;
  text-decoration: none;
}

.youTubeLabel{
  font-weight: 400;
  font-size: 1.25em;
  margin-left: 2em;
}
.homeLink:hover, .aboutLink:hover{
color: red;
background-color: black;
}

.searchBox{
  height: 11vh;
  width: 70vw;
  display: inline-block;
}

.searchButton{
  background-color: red;
  color:white;
  height: 8vh;
  width: 30vh;
  margin-top: 2vh;
  margin-left: 2vw;
}

.noSearchMsgbar{
  background-color: lightgray;
  color:black;
  height: 11vh;
  width: 70.5vw;
  margin-top: 2vh;
  margin-bottom: 3vh;
  border: 1px solid darkgray;
  /* margin-left: 2vw; */
  text-align: center;
}
.tempVideoText{
  text-align: center;
  height: 11vh;
  width: 70.5vw;
}

.videoThumbnail{
  height: 150px;
  width: 150px;
}

.videoTitle{
  display:inline;
  margin-right: 10vh;
}
.likeButton{
  display: inline;
  height: 35px;
  width: 35px; 
  margin-top: 10vh;
  margin-right: 2vh;
  
}

.noLikeButton{
  display: inline;
  height: 35px;
  width: 35px; 
  margin-top: 10vh;
  margin-left: 5vh;
  margin-right: 2vh;
}